.app__navbar {
    background-color: white;
    border-bottom: 1px solid rgb(224,228,231);
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 0px;
    height: 8vh;
    z-index: 999;
}

.left_column {
    min-width: 20%;
    max-width: 20%;
    display: flex;
}
.middle_column {
    min-width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_column {
    min-width: 20%;
    max-width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.6em;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    margin-left: 2em;
    padding: 0em;
    height: 6vh;
}


.app__navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.middle_column li {
    margin: 0 10px;
}

#link-a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#link-a:hover {
    color: rgb(255, 129, 66);
}

.right_column button {
    min-width: 50%;
    height: 70%;
    margin: 0em 1em;
}

.launchapp {
    background: -webkit-linear-gradient(rgb(255, 129, 66), rgb(252, 83, 83));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent;
    transition: 0.5s;
}

.launchapp:hover {
    background-color: white;
    color: rgb(255, 129, 66);
    border: solid rgb(255, 129, 66) 1px;
    transition: 0.5s;
}

.signup {
    background-color: rgb(233, 233, 233, 0);
    color: rgb(255, 129, 66);
    border: 1px solid transparent;
    transition: 0.5s;
}

.signup:hover {
    border: 1px solid rgb(255, 129, 66);
    transition: 0.5s;
}

.hamburger {
    display: none;
  }
  
  .hamburger button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }


.hamburger span {
    display: block;
    width: 2em;
    height: 4px;
    margin: 0.35em auto;
    background-color: #333;
  }
  
  .sidebar {
    position: fixed;
    top: 0px;
    right: -100%;
    height: 100vh;
    width: 80%;
    background-color: rgb(233, 233, 233);
    transition: right 0.3s ease-in-out;
    text-align: right;
    border-left: solid black 5px;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  .sidebar ul li {
    margin-bottom: 5vh;
    border-bottom: solid rgb(255, 129, 66, 0.4) 5px;
  }

  #sidebar-links{
    font-size: 2em;
    text-decoration: none;
    color: black;
  }

  .sidebar button {
    background-color: transparent;
    cursor: pointer;
    text-align: right;
    padding: 1em 1em;
  }
  
  @media only screen and (max-width: 768px) {
    .middle_column, .right_column {
        display: none;
    }
    
    .left_column {
        min-width: 80%;
    }
    .hamburger {
      display: block;
      width: 20%;
      margin: auto;
    }
  
    .sidebar {
      right: -100%;
    }
  
    .sidebar.show {
      right: 0;
    }
  }