body {
  margin: 0;
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top:10vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 0;
  border-radius: 8px;
  font-weight: 900;
}

/* header */
.header {
  min-height: 60vh;
  padding-top: 8%;
}

.headertext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 0px;
}

.inner-headings {
  border: 0px solid #ddd;
  height: 100px;
  line-height: 100px;
  overflow: hidden;
  text-align: left;
}

.inner-headings span {
  position: relative;
  color: rgb(255, 129, 66);
  animation: animation 10s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  30% {
    top: -100px;
  }
  45% {
    top: -100px;
  }
  50% {
    top: -100px;
  }
  60% {
    top: -200px;
  }
  75% {
    top: -200px;
  }
  90% {
    top: -200px;
  }
}

@media only screen and (max-width: 900px) {
  .headertext {
    flex-direction: column;
  }
  .headertext p{
    margin: 5% 5% 0 5%;
  }
  .inner-headings {
    text-align: center;
  }
}

.description {
  font-size: 20px;
  padding: 0% 25%;
  color: rgb(102, 102, 102);
  margin-bottom: 3%;
}

.header button {
  padding: 1em;
  background-color: white;
  color: rgb(255, 129, 66);
  border: solid rgb(255, 129, 66) 1px;
  transition: 0.5s;
}

.header button:hover {
  background-color: rgb(255, 129, 66);
  color: white;
  transition: 0.5s;
}

/* About */
.about {
  min-height: 60vh;
  padding: 10%;
}

.column {
  display: flex;
  flex-direction: row;
}

.column div {
  width: 33%;
  padding: 5%;
}

.column h1 {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .column {
    flex-direction: column;
  }
  .column div {
    width: 90%;
  }
} 

.about button {
  background-color: white;
  border: solid rgb(255, 129, 66) 1px;
  color: rgb(255, 129, 66);
  padding: 10px 20px;
  transition: 0.5s;
}

.about button:hover {
  background-color: rgb(255, 129, 66);
  color: white;
  transition: 0.5s;
}

/* Benefits */
.benefits {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
}

.benefits div {
  min-height: 30vh;
  width: 30%;
}

.benefits p {
  font-size: 20px;
  font-weight: 700;
  height: 10%;
}

@media only screen and (max-width: 700px) {
  .benefits {
    flex-direction: column;
  }
  .benefits div {
    margin: 0 auto;
  }
}

/* Demo */
.demo {
  min-height: 80vh;
  padding: 5%;
}

.demo div {
  display: flex;
  justify-content: center;
}

.demo img {
  border: solid rgb(255, 129, 66) 5px;
  border-radius: 10px;
  box-shadow: -5px 5px 15px grey;
  max-width: 80%;
}

@media only screen and (max-width: 900px) {
  .demo {
    min-height: 70vh;
  }
}

/* Pricing */
.pricing {
  background-color: rgb(255, 129, 66);
  min-height: 60vh;
  padding: 5% 0%;
}

.pricecards {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.pricing h1 {
  color: white;
  font-size: 40px;
}

.pricing button {
  margin: 0 2px;
  padding: 5px 10px;
}

.notactive {
  background-color: rgb(255, 129, 66);
  color: white;
  border: solid white 1px;
}

.active {
  background-color: white;
  color: black;
  border: solid white 1px;
}

@media only screen and (max-width: 750px) {
  .pricecards {
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
}

/* contact */
.contact {
  min-height: 60vh;
  padding: 5% 10%;
  text-align: left;
}

.contact p {
 font-size: 20px;
 color: grey;
 margin-bottom: 5%;
}

.contact label {
  font-size: 18px;
}

.contact input {
  width: 60%;
  height: 2.5em;
  border: solid rgb(255, 129, 66) 2px;
  border-radius: 8px;
  margin: 1% 0%;
}

#message {
  height: 15vh;
}

#submit {
  background-color: rgb(255, 129, 66);
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 10%;
}

@media only screen and (max-width: 750px) {
  .contact input {
    width: 80%;
  }

  #submit {
    min-width: 20%;
  }
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  min-height: 5vh;
  padding: 0 2%;
  border-top: solid rgb(240, 240, 240) 2px;
}

.left {
  width: 35%;
  text-align: left;
}

.right {
  width: 65%;
  text-align: right;
}

.right a {
  margin-left: 10px;
}

.right a:hover {
  color: rgb(255, 129, 66);
  border-bottom: solid rgb(255, 129, 66) 1px;
}

@media only screen and (max-width: 1010px) {
  .footer a {
    font-size: 14px;
  }
}