
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,900;1,600&display=swap');


body {
  margin: 0em;
 
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  
  color: rgb(5,24,43);

  font-family: 'Plus Jakarta Sans', 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top:8vh;
  overflow-x: hidden;
  background-color: rgb(243,245,250);
  cursor:default;
  user-select: none;
}

p, a {
  color: rgb(122,130,139);
}

p, b, a {
  line-height: 1.6em;
  font-size: 1.2em;
}

a:hover {
  cursor: pointer;
}

.flexbox {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: left;
  padding: 1.5em;
}

.item {
  order: 1;
  width: 40%;
}


.card {
  max-width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em;
  text-align: left;

}


.card h1 {
  border: 1px solid red;
}

.card b {
  color: rgb(5,24,43);
}

.card h1 {
  margin-top: 0;
  color: rgb(254, 130, 67);
}

.card h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(5,24,43);
}

.card p {
  margin-top: 0;
  color: rgb(5,24,43);
}

/* --------------------------------- */


button {
  border: 0;
  border-radius: 0.5em;
  font-weight: 900;

  background-color: rgb(255, 129, 66);
}

/* header */


.header {
  min-height: 60vh;
  display: flex;
  background-color: white;
}

.aThird {
  width: 33.3%;
  background-image: url('./assets/teacher.png');
  background-size: cover; /* make sure the image covers the entire container */
  background-position: center;
}

.twoThirds {
  width: 66.6%;
  margin: auto;
}

.headertext{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0em;
  margin: 1em;
}

.description {
  font-size: 1.2em;
  padding: 1em;
  margin: 2em;
  color: rgb(5,24,43);
  display: inline-block;
}

.inner-headings {
  height: 2.4em;
  line-height: 2.4em;
  overflow: hidden;
  text-align: left;
  font-size: 2em;
  min-width: 3.5em;
  position: relative;
  color: rgb(255, 129, 66);
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .header, .headertext {
    flex-direction: column;
  }

  .aThird, .twoThirds {
    width: 100%;
  }

  .headertext p{
    margin: 5% 5% 0 5%;
  }
  .inner-headings {
    text-align: center;
  }
}


/*
.header button {
  padding: 1em;
  background-color: rgba(255, 129, 66, 0.674);
  color: white;
  border: 0.1em solid rgb(255, 129, 66) ;
  transition: 0.5s;
}

.header button:hover {
  background-color: rgb(255, 129, 66);
  color: white;
  transition: 0.5s;
}
*/

/* About */

.about h1 {
  font-size: 2em;
}

.about p {
  font-size: 1.05em;
}

.gradientRed {
  background: -webkit-linear-gradient(rgb(255, 129, 66), rgb(252, 83, 83));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientGreen {
  background: -webkit-linear-gradient(rgba(0, 128, 0, 0.552), green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.about > .flexbox > .item > .img {
  border: 1px solid rgb(224,228,231);
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
}

.about > .flexbox > .item > .img > img {
  width: 100%;
}

.box {
  border: 1px solid rgb(224,228,231);
  margin: 1.5em 0;
  border-radius: 0.5em;
  padding: 0em;
  display: flex;
  justify-content: center;
}

.parentBox {
  margin: 1.5em 0;
  border-radius: 0.5em;
  border: 1px solid rgb(224,228,231);
  background-color: white;
}

.parentBox:hover, .about > .flexbox > .item > .img:hover {
  transition: 0.2s;
  border: 1px solid rgb(243,245,250);
}

.parentBox > .box {
  border: 0;
}

.parentBox > .fullBoxContent {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: -1.5em;
}

.fullBoxContent b {
  color: rgba(5, 24, 43, 0.715);
  font-size: 1.05em;
}

.box > .img {
  max-width: 20%;
  max-width: 2em;
  min-width: 2em;
  max-height: 2em;
  min-height: 2em;
  margin: auto;
  padding: 0.5em;
  margin-left: 1.5em;
  margin-right: 0;
  background-color: rgb(243,245,250);
  border-radius: 50%;
}

.box > .img > .icon {
  margin: auto;
  max-width: 2em;
  min-width: 2em;
  max-height: 2em;
  min-height: 2em;
  text-align: center;
  border-radius: 50%;
}

.orange {
  background-color: rgb(255, 129, 66);
}

.green {
  background-color: rgba(0, 128, 0, 0.35);
}

.box > .text {
  padding: 0.5em 0.3em;
  padding-bottom: 0;
  margin: 0.5em auto;
  margin-bottom: 0;
  width: 80%;
  margin-left: 1em;
}

.box > .text b {
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(255, 129, 66), rgb(252, 83, 83));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box > .text.greenB b {
  background: -webkit-linear-gradient(rgba(0, 128, 0, 0.552), green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box > .text p {
  margin-top: 0.4em;
}

.column h1 {
  font-size: 2em;
}

@media only screen and (max-width: 900px) {
  .flexbox {
    flex-direction: column;
  }
  .flexbox div {
    width: 100%;
  }
} 

.about button {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.1em solid rgb(255, 129, 66);
  color: rgb(255, 129, 66);
  padding: 0.6em 1.2em;
  transition: 0.5s;
}

.about button:hover {
  background-color: rgb(255, 129, 66);
  color: white;
  transition: 0.5s;
}

/* Benefits */
.benefits {
  display: flex;
  justify-content: center;
  padding: 5% 10%;
  background-color: white;
}

.benefits div {
  width: 30%;
}

.benefits h2 {
  font-size: 2em;
  font-weight: bold;
  height: 10%;
  margin-bottom: 1.5em;
}

.benefits p {
  font-size: 2em;
  font-weight: bold;
  height: 10%;
  margin-top: 0.5em;
}

@media only screen and (max-width: 700px) {
  .benefits {
    flex-direction: column;
  }
  .benefits div {
    margin: 0 auto;
  }
}

/* Demo */
.demo {
  padding: 5%;
}

.demo div {
  display: flex;
  justify-content: center;
}

.demo img {
  max-height: 70vh;
  max-width: 90vw;
}

/* Pricing */
.pricing {
  background-color: white;
  padding: 1.5em;
  padding-bottom: 5em;
}

.pricecards {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.pricing h1 {
  color: white;
}

.pricing p {
  margin: auto;
  padding: 0.5em;
  width: 100%;
}

.downIcon {
  font-size: 1.2em;
  width: 100%;
  color:rgb(255, 129, 66);
}

.pricing button {
  margin: 0 0.1em;
  padding: 0.3em 0.6em;
  margin-top: 2em;
}

.notactive {
  background-color: transparent;
  color: rgb(255, 129, 66);
  border: 0.1em solid rgb(255, 129, 66);
}

.active {
  background-color: rgb(255, 129, 66);
  color: white;
  border: 0.15em solid rgb(247, 98, 23);
}

@media only screen and (max-width: 750px) {
  .pricecards {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}

/* contact */
.contact {
  padding: 5% 10%;
  text-align: left;
}

.contact p {
 color: rgb(5,24,43);
 margin-bottom: 5%;
}


.contact input {
  width: 40%;
  height: 2.5em;
  border: 0.2em solid rgb(255, 129, 66);
  padding-left: 0.5em;
  border-radius: 0.5em;
  margin: 1% 0%;
}

#message {
  height: 5em;
}

#submit {
  background-color: rgb(255, 129, 66);
  color: white;
  font-weight: 700;
  width: 10%;
}

@media only screen and (max-width: 750px) {
  .contact input {
    width: 80%;
  }

  #submit {
    min-width: 30%;
  }
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  min-height: 5vh;
  padding: 0 2%;
  border-top: 0.1em solid rgb(240, 240, 240) ;
  color: rgb(5,24,43);
}

.left {
  width: 35%;
  text-align: left;
}

.right {
  width: 65%;
  text-align: right;
}

.right a {
  margin-left: 0.6em;
}

.right a:hover {
  color: rgb(255, 129, 66);
  border-bottom: 0.1em solid rgb(255, 129, 66);
}

@media only screen and (max-width: 1010px) {
  .footer a {
    font-size: 0.9em;
  }
}